.experiance {
    .title {
        @include header;
    }
    .experience-item {
        margin-bottom: 20px;
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .content {
            @include body-text;
        }
        .detail {
            @include body-text;
            display: list-item;
            list-style-position: inside;
        }
        .technologies {
            @include body-text;
            .intro {
                font-style: italic;    
            }
        }
    }
}