.footer {
  text-align: right;
  padding: 20px;
}

#duck-button {
  background: url('/assets/media/duck.svg') no-repeat center center;
  background-size: contain;
  border: none;
  outline: none;
  height: 27px;
  width: 27px;
}

#duck-button.pulse {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}